---
layout: main
title: Marek Kultys | Mitosis and Meiosis
label: project-mitosis
---
<section>
   <div class="container">
      <div class="container-two-thirds shift">
         <p>
            Mitosis and meiosis two are types of biological cell division processes. I created three diagrams explaining mitosis and meiosis visually on which I collaborated closely with my high school teacher. In 2008 I published the diagrams in Wikipedia under the Creative Commons license: <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
         </p>
         <p>
            In mitosis, a single somatic diploid cell divides into two identical diploid cells. In other words, a cell makes an exact copy of itself.
         </p>
         <div class="block-of-images">
            <img src="/img/work/mitosis-meiosis/mitosis_01.png">
         </div>
         <p>
            In meiosis, a single diploid cell divides into four haploid cells: gametes or meiospores. In other words, a cell splits into four reproductive cells (in humans it's egg and sperm cells).
         </p>
         <div class="block-of-images">
            <img src="/img/work/mitosis-meiosis/mitosis_02.png">
         </div>
         <p>
            Mitosis allows multicellular organisms to grow, build tissues, and replace cells. Meiosis enables sexual reproduction and contributes to genetic diversification in each new generation of organisms.
         </p>
         <div class="block-of-images">
            <img src="/img/work/mitosis-meiosis/mitosis_03.png">
         </div>
      </div>
   </div>

   {% include divider.html %}

   <div class="container">
      <div class="container-two-thirds shift">
         <p>
            It took me about 6 months to develop all three diagrams. Everything started with low-fidelity sketches, in which I could capture all scientific concepts agreed with my high school biology teacher, Dr Włodzimierz Wójcik.
         </p>
         <div class="block-of-images">
            <img src="/img/work/mitosis-meiosis/mitosis_21.png" class="entry">
            <img src="/img/work/mitosis-meiosis/mitosis_22.png" class="entry">
            <img src="/img/work/mitosis-meiosis/mitosis_23.jpg">
         </div>
         <p>
            We worked through several iterations. Once I managed to work out diagram structure in detail, I later progressed to sketching in higher fidelity and, ultimately, to digital production.
         </p>
         <div class="block-of-images">
            <img src="/img/work/mitosis-meiosis/mitosis_24.jpg" class="entry">
            <img src="/img/work/mitosis-meiosis/mitosis_25.jpg" class="entry">
            <img src="/img/work/mitosis-meiosis/mitosis_26.jpg">
         </div>
      </div>
   </div>

   {% include divider.html %}

   <div class="container">
      <div class="container-two-thirds shift">
         <p>
            In 2008 I published the diagrams under the <a href="https://creativecommons.org/licenses/by-sa/3.0/" title="CC BY-SA 3.0 license definition on the Creative Commons website">CC BY-SA 3.0</a> Creative Commons license. Since then the diagrams have been used on 22 Wikipedia pages in 12 languages, used in high school and university teaching in Poland and USA, and published in books.
         </p>
         <div class="block-of-images">
            <img src="/img/work/mitosis-meiosis/mitosis_11.png">
         </div>
      </div>
   </div>
</section>