<section>
   <div class="container">
      <div class="container-two-third shift">
         <ul>
            <li {% if page.label == 'work' %} class="strong" {% endif %}><a href="{{ site.data.pages.work.link }}">{{ site.data.pages.work.tagline }}</a></li>
            <!-- <li {% if page.label == 'blog' %} class="strong" {% endif %}><a href="{{ site.data.pages.blog.link }}">{{ site.data.pages.blog.tagline }}</a></li> -->
            <li {% if page.label == 'influences' %} class="strong" {% endif %}><a href="{{ site.data.pages.influences.link }}">{{ site.data.pages.influences.tagline }}</a></li>
            <li {% if page.label == 'contact' %} class="strong" {% endif %}><a href="{{ site.data.pages.contact.link }}">{{ site.data.pages.contact.tagline }}</a></li>
         </ul>
      </div>
   </div>
</section>
