<meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ site.data.mk.name }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:description" content="{{ site.data.pages.home.headline }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="{{ site.data.mk.url }}/img/graph-v.png" />
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="{{ site.data.mk.url }}" />

<meta name="twitter:card" content="{{ site.data.mk.url }}/img/graph-v.png">
<meta name="twitter:site" content="@{{ site.data.mk.twitter }}">
<meta name="twitter:domain" content="{{ site.data.mk.url }}">
<meta name="twitter:title" content="{{ site.data.mk.name }}">
<meta name="twitter:description" content="{{ site.data.pages.home.headline }}">
