// VARIABLES
// Declare breakpoints
$portrait: new-breakpoint(max-width 959px);
$landscape: new-breakpoint(min-width 960px);

// Declare colours
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$dark-grey: rgba(0, 0, 0, 0.5);
$light-grey: rgba(0, 0, 0, 0.25);
$cyan50: rgba(224, 247, 250, 1);
$cyanA700: rgba(0, 184, 212, 1);

// Declare type size
$font-unit: 1em;
$small-type: 1*$font-unit;
$medium-type: 1.25*$font-unit;
$large-type: 1.7*$font-unit;

// Declare leading
$micro-leading: 0.66em;
$small-leading: 1.1em;
$medium-leading: 1.4em;
$large-leading: 1.66em;
$huge-leading: 2.2em;

// Declare other styles
$underline: 1px solid $cyanA700;




// GLOBALS
html {
   overflow-y: scroll; // Fixing jumping scroll bar when page overflows
   overflow-x: hidden;
}

@-ms-viewport {
   width: device-width; // Fixing MS viewport
}

body {
   margin: 0px;
   background-color: $white;
}

main {
   min-height: calc(100vh - 9em);
   padding-top: 3em;
   padding-bottom: 8em;
}

.footer {
   height: 10em;
   padding-top: 6em;
   h4 {
      color: $dark-grey;
   }
}




// TYPOGRAPHY
a {
   color: $black;
   text-decoration: none;
   border-bottom: $underline;
   padding-bottom: 1px;
   &:hover {
      color: $cyanA700;
      text-decoration: none;
      border-color: $cyanA700;
   }
}

p, h1, h2, h3, h4, ol, ul {
   font-family: 'Barlow', sans-serif;
   color: $black;
   margin: 0px;
}

p { // body text
   font-weight: 400;
   font-size: $medium-type;
   line-height: $large-leading;
   margin-bottom: $small-leading;
   &:last-of-type {
      margin-bottom: 0px;
   }
}

h1 { // used for MK
   font-weight: 600;
   font-size: $large-type;
   line-height: $medium-leading;
   margin-bottom: 1em;
   @include media($landscape){
      margin-bottom: 0em;
   }
}

h2 { // used for page title
   font-weight: 400;
   font-size: $large-type;
   line-height: $medium-leading;
}

h3 { // used for subtitles
   font-weight: 600;
   font-size: $medium-type;
   line-height: $large-leading;
}

h4 { // used for post metadata
   font-weight: 200;
   font-size: $small-type;
   line-height: $medium-leading;
}

ul {
   font-weight: 400;
   font-size: $medium-type;
   line-height: $large-leading;
   list-style: none;
   padding-left: 0px;
   li {
      margin-bottom: 0.25em;
   }
}

img {
   width: 100%;
}

::-moz-selection { /* Code for Firefox */
   background: $cyan50;
   color: $cyanA700;
}
::selection {
   background: $cyan50;
   color: $cyanA700;
}

sub {
    vertical-align: baseline;
    position: relative;
    top: 0.2em;
    right: 0.05em;
    font-size: smaller;
}

.strong {
   font-weight: 600;
}



// GRIDS
.outer-container {
   padding-left: 1em;
   padding-right: 1em;
   @include outer-container(100%);
}

.container {
   @include span-columns(11.2);
   @include shift(0.4);
   @include media($landscape) {
      @include span-columns(7);
      @include shift(2.5);
   }

   .container-one-third {
      @include span-columns(12);
      @include media($landscape) {
         @include span-columns(4);
      }
   }

   .container-two-thirds {
      @include span-columns(12);
      @include media($landscape) {
         @include span-columns(8);
      }
   }

   .container-two-halfs {
      @include span-columns(6);
   }
}

.shift {
   @include shift(0);
   @include media($landscape) {
      @include shift(4);
   }
}

.shift-back {
   @include shift(0);
   @include media($landscape) {
      @include shift(-12);
   }
}



// OTHER STYLES
.divider {
   display: block;
   border-bottom: 1px solid $light-grey;
   margin-top: $huge-leading;
   margin-bottom: $small-leading*2;
}

.entry {
   margin-bottom: $huge-leading;
   img {
      margin-top: $huge-leading;
      margin-bottom: $huge-leading;
   }
}
.entry:last-of-type {
   margin-bottom: 0;
   // img {
   //    margin-bottom: 0;
   // }
}

.backlink {
   font-weight: 400;
   a {
      color: $black;
      border-bottom: $underline;
      padding-bottom: 0px;
      &:hover {
         color: $cyanA700;
         text-decoration: none;
         border-color: $cyanA700;
      }
   }
}

.mutedlink {
   border-bottom: none;
}

.caption {
   text-align: right;
}

.blog-list {
   margin-bottom: $huge-leading*2;
   &:last-of-type {
      margin-bottom: 0px;
   }
   h4{
      margin-top: $micro-leading;
      margin-bottom: $micro-leading;
   }
}

.block-margin {
   margin-top: $large-leading*2;
   margin-bottom: $huge-leading*2;
   &:last-of-type {
      margin-bottom: $huge-leading*1;
   }
}

.caption-margin {
   margin-bottom: $huge-leading*2;
   margin-top: $large-leading*2;
}

#fix-excess-margin {
   margin-bottom: 0;
   @include media($landscape){
      padding-top: $large-leading;
   }
}

.contact-image {
   margin-top: $large-leading*2;
   margin-bottom: $huge-leading;
   max-width: 70%;
   @include media($landscape){
      max-width: 100%;
   }
}

.border {
   border: 1px solid $dark-grey;
}

.half-image {
   padding-left: $small-leading;
   padding-right: $medium-leading;
   padding-bottom: $large-leading;
   a {
      border: 0;
   }
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
   margin-bottom: 0.33em;
   iframe {
   	position: absolute;
   	top: 0;
   	left: 0;
   	width: 100%;
   	height: 100%;
   }
}