---
layout: main
title: Marek Kultys | Blog
label: blog
permalink: /blog/
---
<section>
	<div class="container">
		<div class="container-two-third shift">
			{% for post in site.posts %}
				<div class="entry">
					<h3><a href="{% if post.link %} {{ post.link }} {% else %} {{ post.url }} {% endif %}">{{ post.title }}</a></h3>
					<h4>{% include byline.html post=post %}</h4>
					{{ post.excerpt }}
					{% if post.image %}
						<a href="{{ post.link }}" class="image-link"><img src="{{ post.image }}"></a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</section>

