<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>
      	{{ site.data.mk.name }}
      </title>
    	{% include head.html %}
	</head>

	<body>
		<main>
			<article>
				<section>
					<div class="container">
					   <div class="container-one-third">
					      <h1><a href="/">{{ site.data.mk.name }}</a></h1>
					   </div>
					   <div class="container-two-thirds">
					      <h2>
								{% if page.layout == "blog-post" %}
									{{ page.title }}
								{% else %}
					         	{{ site.data.mk.tagline }}
								{% endif %}
					      </h2>
					   </div>
					</div>
					{% include divider.html %}
				</section>
      		{{ content }}
			</article>
		</main>
	</body>
</html>