<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>
      	{{ site.data.mk.name }}
      </title>
    	{% include head.html %}
	</head>

	<body>
		<main>
			<article>
				<section>
					<div class="container">
					   <div class="container-one-third">
					      <h1><a href="/">{{ site.data.mk.name }}</a>{% if page.layout == "blog-post" %}<span class="backlink"> / <a href="/blog">Blog</a>{% endif %}</span></h1>
					   </div>
					   <div class="container-two-thirds">
							{% if page.layout == "blog-post" %}
								<h2>{{ page.title }}</h2>
							{% else %}
				         	<h2>
									{% assign thispage = site.data.pages[page.label] %}
					         	{{ thispage.tagline }}
								</h2>
							{% endif %}
					   </div>
					</div>
					{% include divider.html %}
				</section>
      		{{ content }}
			</article>
		</main>
	</body>
</html>