<!DOCTYPE html>
<html lang="en">
	<head>
		{% include analytics.html %}
    	<title>
      	{{ site.data.mk.name }}
      </title>
    	{% include head.html %}
	</head>

	<body>
		<div class="outer-container">
			<main>
				{% include header.html %}
				{% include divider.html %}
				{% if page.label == "home" %}
					{% include links.html %}
					{% include divider.html %}
					<article>
						{{ content }}
					</article>
		      {% else %}
					<article>
						{{ content }}
					</article>
					{% include divider.html %}
					{% include links.html %}
		      {% endif %}
			</main>
			<footer>
				{% include footer.html %}
			</footer>
		</div>
	</body>
</html>